# Distribution / packaging
tmp/*/.Python
tmp/*/env/
tmp/*/build/
tmp/*/develop-eggs/
tmp/*/dist/
tmp/*/downloads/
tmp/*/eggs/
tmp/*/.eggs/
tmp/*/lib/
tmp/*/lib64/
tmp/*/parts/
tmp/*/sdist/
tmp/*/var/
tmp/*/*.egg-info/
tmp/*/.installed.cfg
tmp/*/*.egg

__pycache__/
*.py[cod]
*$py.class

# Serverless directories
tmp/*/.serverless

# for ide
.idea
*.impl
.vscode

# for editor
*.swp
*~

# for mac
.DS_Store
